<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Color theme for statusbar -->
		<meta name="theme-color" content="#2196f3">
		<!-- Your app title -->
		<title>Nuevo Cheque</title>
		<!-- Path to Framework7 Library CSS -->
		<link rel="stylesheet" href="../../../../static/lib/framework7/css/framework7.min.css">
		<link rel="stylesheet" type="text/css" href="../../../../static/lib/framework7/css/framework7-icons.css">
		<!-- Path to your custom app styles-->
		<link rel="stylesheet" href="../../../../static/css/modificacion.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../../../static/css/fuentespropias.css">
		
		<link rel="stylesheet" href="../../../../static/css/botones.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			
	</head>
	<body>
		<!-- App root element -->
		<div id="app">
			<div class="statusbar"></div>
			<!-- Your main view, should have "view-main" class -->
			<div class="view view-main">
				<!-- Initial Page, "data-name" contains page name -->
				<div data-name="home" class="page">
					<div class="navbar" style="background: #37C5C3; height: 13%;">
						<div class="navbar-inner sliding">
							<div class="left">
								<img src="../../../../static/imagenes/logo.png" style="height: 60px; position: relative; max-width:100px; margin-top: 15px;"/>
							</div>
							<div class="title" style="font-family: himelody; border-radius: 5px; border: 1px solid transparent; font-size: 40px;">Nuevo Cheque</div>
						</div>
					</div>
					<div class="page-content" style="background-size:cover; width: 100%; margin-top: 8px;">
						<form id="chequeform" method="post">
							{{ form.hidden_tag() }}
							<div class="list inline-labels no-hairlines-md" style="margin: auto; width: 95%; background: white; padding: 3px 3px 3px 3px; margin-top: 30px; margin-bottom: 30px; border-radius: 10px;">
								<ul>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="material-icons" style="margin-left: 8px;">format_align_justify</i>
											</div>
											<div class="item-inner">
												<div class="item-title" style="font-family: ubuntu;">Nombre Cuenta:</div>
												<div class="item-after" style="font-family: ubuntu;">{{ cuenta.Nombre|truncate(15, true) }}</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="material-icons" style="margin-left: 8px;">format_list_numbered</i>
											</div>
											<div class="item-inner">
												<div class="item-title" style="font-family: ubuntu;">Tipo de cuenta:</div>
												<div class="item-after" style="font-family: ubuntu;">Cheques</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="material-icons" style="margin-left: 8px;">credit_card</i>
											</div>
											<div class="item-inner">
												<div class="item-title" style="font-family: ubuntu;">Moneda:</div>
												<div class="item-after" style="font-family: ubuntu;">{{ moneda.Nombre|truncate(25, true) }}</div>
											</div>
										</div>
									</li>
									{% if moneda.id == 67 %}
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="material-icons" style="margin-left: 8px;">attach_money</i>
											</div>
											<div class="item-inner">
												<div class="item-title" style="font-family: ubuntu;">Saldo:</div>
												<div class="item-after" style="font-family: ubuntu;">{{ cuenta.Saldo_COP }} COP</div>
											</div>
										</div>
									</li>
									{% else %}
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="material-icons" style="margin-left: 8px;">attach_money</i>
											</div>
											<div class="item-inner">
												<div class="item-title" style="font-family: ubuntu;">Saldo:</div>
												<div class="item-after" style="font-family: ubuntu;">{{ cuenta.Saldo }} {{ moneda.Simbolo }}</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="material-icons" style="margin-left: 8px;">attach_money</i>
											</div>
											<div class="item-inner">
												<div class="item-title" style="font-family: ubuntu;">Saldo COP:</div>
												<div class="item-after" style="font-family: ubuntu;">$ {{ cuenta.Saldo_COP }}</div>
											</div>
										</div>
									</li>
									{% endif %}
									{% if cuenta.Descripcion %}
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="material-icons" style="margin-left: 8px;">info_outline</i>
											</div>
											<div class="item-inner">
												<div class="item-title" style="font-family: ubuntu;">Descripción:</div>
												<div class="item-after" style="font-family: ubuntu;">{{ cuenta.Descripcion }}</div>
											</div>
										</div>
									</li>
									{% endif %}
									<li class="item-content item-input">
										<div class="item-media">
											<i class="material-icons" style="margin-bottom: 8px; margin-left: 8px;">attach_money</i>
										</div>
										<div class="item-inner">
											<div class="item-input-wrap">
												{{ form.valor(type="number", onclick="ClickValor()", onfocus="ClickValor()", min="0.01", step="0.01", placeholder="Valor Cheque", style="font-family: ubuntu;") }}
												<!--<input type="text" placeholder="Nombre" style="font-family: ubuntu;">-->
												<span class="input-clear-button"></span>
											</div>
											<script>
												function ClickValor() {
													document.getElementById("valorerror").innerHTML = "";
													document.getElementById("errorgeneral").innerHTML= "";
												}
											</script>
										</div>
									</li>
								
									<center>
										<span id="valorerror" style="color: red; font-weight:bold; font-family: ubuntu; margin-top">{{ error }}</span>
									</center>
									
									<li class="item-content item-input">
										<div class="item-media">
											<i class="material-icons" style="margin-bottom: 8px; margin-left: 8px;">date_range</i>
										</div>
										<div class="item-inner">
											<div class="item-input-wrap">
												{{ form.fecha(type="text", onclick="ClickFecha()", onfocus="ClickFecha()", placeholder="Fecha", readonly="readonly", id="demo-calendar-date-format", style="font-family: ubuntu") }}
												<!--<input type="text" placeholder="Fecha Límite" readonly="readonly" id="demo-calendar-date-format"/>-->
												<span class="input-clear-button"></span>
											</div>
											<script>
												function ClickFecha() {
													document.getElementById("fechaerror").innerHTML = "";
													document.getElementById("errorgeneral").innerHTML= "";
												}
											</script>
										</div>
									</li>
									
									<center>
										<span id="fechaerror" style="color: red; font-weight:bold; font-family: ubuntu;">{{ error }}</span>
									</center>
									
								</ul>
							</div>
							<div>
								<center>
									
									<span id="errorgeneral" style="color:red; font-weight:bold; font-family: ubuntu; font-size: 18px;">{{ message }}</span>
									
								</center>
							</div>
							<input type="hidden" name="cuentaid" id="cuentaid" value="{{ cuenta.id }}">
							<div class="block-footer">
								<center>
									<div class="btn-container" style="margin-top: 40px;">
										{{ form.submit(class_="btn external", value="AÑADIR CHEQUE", style="width: 160px; height: 40px; line-height: 40px; background-color: green; font-family: signika-regular; font-size: 18px; color: white; border-width: 0px;") }}
									</div>
									<div class="btn-container">
										<a href=" {{ url_for('chequesruta', id=cuenta.id) }}" class="btn external" style="width: 100px; height: 40px; line-height: 40px; background-color: red; font-family: signika-regular; font-size: 18px; color: white; margin-top: 20px;">CANCELAR</a>
									</div>
								</center>
							</div>
						</form>
					<script>
						$(document).ready(function()
						{
							$("#chequeform").submit(function(event)
							{
								event.preventDefault();
								$.ajax({
									dataType: "text",
									type: "POST",
									url: "{{ url_for('ChequeAjaxProcess') }}",
									data: $('#chequeform').serialize(), // serializes the form's elements.
									success: function (data){
										var resultados = JSON.parse(data);
										if (resultados.valor) {
											document.getElementById("valorerror").innerHTML=resultados.valor;
										}
										else{
											document.getElementById("valorerror").innerHTML="";
										}
										if (resultados.fecha) {
											document.getElementById("fechaerror").innerHTML=resultados.fecha;
										}
										else{
											document.getElementById("fechaerror").innerHTML="";
										}
										if (resultados == "no"){
											document.getElementById("errorgeneral").innerHTML="Valor de cheque supera saldo.";
										}
										else if(resultados == "si"){
											window.location.href = "{{ url_for('ChequeAjaxDone') }}";
										}
										console.log(data)// display the returned data in the console.
									}
								});
							});
						});	
					</script>
					</div>   
				</div>
			</div>
		</div>
		<!-- Path to Framework7 Library JS-->
		<script type="text/javascript" src="../../../../static/lib/framework7/js/framework7.min.js"></script>
		<!-- Path to your app js-->
		<script type="text/javascript" src="../../../../static/js/my-app.js"></script>
		
		
	</body>
</html>