<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Color theme for statusbar -->
		<meta name="theme-color" content="#2196f3">
		<!-- Your app title -->
		<title>Ingreso</title>
		<!-- Path to Framework7 Library CSS -->
		<link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
		<!-- Path to your custom app styles-->
		<link rel="stylesheet" href="../static/css/fuentespropias.css">
		<link rel="stylesheet" href="../static/css/modificacionlina.css">
		<link rel="stylesheet" href="../static/css/botones.css">
		<link rel="stylesheet" href="../static/css/cuentas.css">
	</head>
	<body>   
		<div id="app">
		<!--LOGIN SCREEN-->
		<div class="view view-main">
			<div  class="login-screen modal-in">
				<div class="view">
					<div class="page">
						<div id="loginContenedor" class="page-content login-screen-content">
							<div id="navbar" class="navbar">
								<div id="navbarInner" class="navbar-inner">
									<div class="login-screen-title">
										<img src="../static/imagenes/logo.png" style="height: 60px; position: relative; max-width:100px; margin-top: 15px;"/>
									</div>
								
								</div>
							</div>
							<div class="page-content">
								{% block content %}
								<form style="position: relative; top: -50px" method="post">
									{{ form.hidden_tag() }}
									<div class="list">
										<ul>
											<li class="item-content item-input">
												<div class="item-inner">
													<div style="color:white; font-weight:bold; font-size: 15px; margin: 5px" class="item-title item-label"></div>
													<div class="item-input-wrap">
														{{ form.username(class_='item-input-wrap', style="background-color: white; font-family: ubuntu; padding-left:5px; border-radius: 5px; border: 1px solid transparent; border-top: none;  border-bottom: 1px solid #DDD;", type="text", placeholder="Usuario") }}
													</div>
													{% for error in form.username.errors %}
													<span style="color: red; font-weight:bold; font-family: ubuntu;">{{ error }}</span>
													{% endfor %}
												</div>
											</li>
											<li class="item-content item-input">
												<div class="item-inner">
													<div style="color:white; font-weight:bold; font-size: 15px; margin: 5px" class="item-title item-label"></div>
													<div class="item-input-wrap">
														{{ form.password(class_='item-input-wrap', style="background-color: white; font-family: ubuntu; padding-left:5px; border-radius: 5px; border: 1px solid transparent; border-top: none;  border-bottom: 1px solid #DDD;", type="password", placeholder="Contraseña") }}
													</div>
													{% for error in form.password.errors %}
													<span style="color: red; font-weight:bold; font-family: ubuntu;">{{ error }}</span>
													{% endfor %}
												</div>
											</li>
										</ul>
									</div>
									<div class="list">
										<ul>
											<li>
												<center>
													{% with messages = get_flashed_messages(with_categories=true) %}
														{% if messages %}
															{% for category, message in messages %}
																{% if category == 'registroexitoso' %}
																	<span style="color: green; font-weight:bold; font-family: ubuntu;">{{ message }}</span>
																{% else %}
																	<span style="color: red; font-weight:bold; font-family: ubuntu;">{{ message }}</span>
																{% endif %}
															{% endfor %}
														{% endif %}
													{% endwith %}
												</center>
											</li>
										</ul>
									</div>
									<div class="block-footer" style="margin-top: 5px;">
										<div class="btn-container">
										{% if users|length == 1 %}
											{{ form.submit(class_='btn', type="submit", disabled="disabled", value="INGRESAR", style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white; background-color: green; border-width: 0px;") }}
										{% else %}
											{{ form.submit(class_='btn', type="submit", value="INGRESAR", style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white; background-color: green; border-width: 0px;") }}
											<!--<a class="btn" type="submit" style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white;">REGISTRARSE</a>-->
										{% endif %}
										</div>
										<!--<a href="{{ url_for('registro')  }}" class="button external">REGISTRO</a>-->
									</div>
									{% if users|length == 1 %}
									<div class "block footer">
										<div class="btn-container" style="margin-bottom: 10px;">
											<center>
												<a href="{{ url_for('acceso')  }}" class="btn external" style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white; background-color: blue;">ACCESO</a>
											</center>
										</div>
									</div>
									<div class "block footer">
										<div class="btn-container">
											<center>
												<a href="{{ url_for('registro')  }}" class="btn external" style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white;">REGISTRARSE</a>
											</center>
										</div>
									</div>
									{% endif %}
								</form>
								{% endblock %}
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--LOGIN SCREEN-->        
		</div>
		<!-- Path to Framework7 Library JS-->
		<script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
		<!-- Path to your app js-->
		<script type="text/javascript" src="../static/js/my-app.js"></script>
		<script src='../static/js/jquery.min.js'></script>
	</body>
</html>