<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Color theme for statusbar -->
		<meta name="theme-color" content="#2196f3">
		<!-- Your app title -->
		<title>Nueva Transacción</title>
		<!-- Path to Framework7 Library CSS -->
		<link rel="stylesheet" href="../../static/lib/framework7/css/framework7.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/lib/framework7/css/framework7-icons.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Path to your custom app styles-->
		<link rel="stylesheet" href="../../static/css/fuentespropias.css">
		<link rel="stylesheet" href="../../static/css/cuentas.css">
		<link rel="stylesheet" href="../../static/css/modificacionlina.css">
		<link rel="stylesheet" href="../../static/css/modificacion.css">
		
		<link rel="stylesheet" href="../../static/css/botones.css">
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js" ></script>
		
	</head>
	<body>   
		<div id="app">
			<!-- Statusbar overlay -->
			<div class="statusbar"></div>
			<!-- Your main view, should have "view-main" class -->
			<div class="view view-main">
				<!-- Initial Page, "data-name" contains page name -->
				<div data-name="home" class="page">
					<div class="navbar" style="background: #37C5C3; height: 13%;">
						<div class="navbar-inner sliding">
							<div class="left">
								<img src="../../static/imagenes/logo.png" style="height: 60px; position: relative; max-width:100px;"/>
							</div>
							<div class="title" style="font-family: himelody; border-radius: 5px; border: 1px solid transparent; font-size: 40px;">Nueva Transaccion</div>
						</div>
					</div>
					<div class="page-content" style="background-size:cover; width: 100%; margin-top: 8px;"><!--background: #3d3935-->
					{% block content %}
						<form method="POST">
						{{ form.hidden_tag() }}
							<div class="list inline-labels no-hairlines-md">
								<center>
									<p style="font-family: ubuntu; font-weight: bold; margin-top: 50px;">SELECCIONA UNA CUENTA</p>
								</center>
								<div class="item-content item-input" style="padding:0; margin-top: 15px;">
									<div class="item inner" style="margin: auto">
										<style>
											label.dd-selected-text {color: black; font-family: ubuntu;}
											small.dd-selected-description.dd-desc.dd-selected-description-truncated {color: orange; font-family: ubuntu;}
											
											label.dd-option-text {font-family: ubuntu;}
											small.dd-option-description.dd-desc {font-family: ubuntu; color: orange;}
										</style>
										<select id="myDropdown" name="myDropdown">
											{% for cuenta in cuentas %}
											{% if cuenta.id_Tipocuenta == 1 %}
											<option value="{{ cuenta.id }}" data-imagesrc="../../static/imagenes/Nueva Carpeta/{{ cuenta.Logo }}.png" data-description="Tipo: Efectivo">{{ cuenta.Nombre }}</option>
											{% elif cuenta.id_Tipocuenta == 2 %}
											<option value="{{ cuenta.id }}" data-imagesrc="../../static/imagenes/Nueva Carpeta/{{ cuenta.Logo }}.png" data-description="Tipo: Crédito">{{ cuenta.Nombre }}</option>
											{% elif cuenta.id_Tipocuenta == 3 %}
											<option value="{{ cuenta.id }}" data-imagesrc="../../static/imagenes/Nueva Carpeta/{{ cuenta.Logo }}.png" data-description="Tipo: Cheque">{{ cuenta.Nombre }}</option>
											{% elif cuenta.id_Tipocuenta == 4 %}
											<option value="{{ cuenta.id }}" data-imagesrc="../../static/imagenes/Nueva Carpeta/{{ cuenta.Logo }}.png" data-description="Tipo: Préstamo">{{ cuenta.Nombre }}</option>
											{% endif %}
											{% endfor %}
										</select>
										<input type="hidden" id="oculto" name="oculto">
										<script>
											$('#myDropdown').ddslick({
												//width: 250,
												onSelected: function(selectedData){
													//callback function: do something with selectedData;
													$('#oculto').val(selectedData.selectedData.value);
												}   
											});
										</script>
									</div>
								</div>
								<ul>
									<li class="item-content item-input">
										<div class="item-media">
											<i class="material-icons" style="margin-top: 5px; margin-left: 8px;">format_list_numbered</i>
										</div>
										<div class="item-inner">
											<div class="item-input-wrap">
												<a class="item-link smart-select smart-select-init " style="font-family: ubuntu;">
													{{ form.tipo }}
													<div class="item-content">
														<div class="item-inner">
															<div class="item-title" style="font-family: ubuntu; font-weight: bold;">Categoría</div>
														</div>
													</div>
												</a>
											</div>
										</div>
									</li>
									<li class="item-content item-input">
										<div class="item-media">
											<i class="material-icons" style="margin-bottom: 8px; margin-left: 8px;">attach_money</i>
										</div>
										<div class="item-inner">
											<div class="item-input-wrap">
												{{ form.valor(type= "number", min=0, step="0.01", placeholder="Valor", style="font-family: ubuntu;") }}
												<!--<input type="number" placeholder="Saldo" style="font-family: ubuntu;">-->
											</div>
										</div>
									</li>
									{% for error in form.valor.errors %}
									<center>
										<span style="color: red; font-weight:bold; font-family: ubuntu;">{{ error }}</span>
									</center>
									{% endfor %}
									<li class="item-content item-input">
										<div class="item-media">
											<i class="material-icons" style="margin-bottom: 8px; margin-left: 8px;">date_range</i>
										</div>
										<div class="item-inner">
											<div class="item-input-wrap">
												{{ form.fecha(type="text", placeholder="Fecha Transacción", readonly="readonly", id="demo-calendar-date-format", style="font-family: ubuntu") }}
												<!--<input type="text" placeholder="Fecha Límite" readonly="readonly" id="demo-calendar-date-format"/>-->
												<span class="input-clear-button"></span>
											</div>
										</div>
									</li>
									{% for error in form.fecha.errors %}
									<center>
										<span style="color: red; font-weight:bold; font-family: ubuntu;">{{ error }}</span>
									</center>
									{% endfor %}
									<li class="item-content item-input">
										<div class="item-media">
											<i class="material-icons" style="margin-bottom: 8px; margin-left: 8px;">info_outline</i>
										</div>
										<div class="item-inner">
											<div class="item-input-wrap">
												{{ form.descripcion(type= "text", placeholder="Descripción", style="font-family: ubuntu;") }}
												<span class="input-clear-button"></span>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div>
								<center>
									{% for message in get_flashed_messages() %}
									<span style="color:red; font-weight:bold; font-family: ubuntu; font-size: 18px;">{{ message }}</span>
									{% endfor %}
								</center>
							</div>
							<div class="block-footer">
								<center>
									<div class="btn-container" style="margin-top: 40px;">
										{{ form.submit(class_="btn external", value="AÑADIR", style="width: 100px; height: 40px; line-height: 40px; background-color: green; font-family: signika-regular; font-size: 18px; color: white; border-width: 0px;") }}
									</div>
									<div class="btn-container">
										<a href="{{ url_for('transacciones') }}" class="btn external" style="width: 100px; height: 40px; line-height: 40px; background-color: red; font-family: signika-regular; font-size: 18px; color: white; margin-top: 20px;">CANCELAR</a>
									</div>
								</center>
							</div>
						</form>
					{% endblock %}
					</div>
				</div>       
			</div>
		</div>
		<!-- Path to Framework7 Library JS-->
		<script type="text/javascript" src="../../static/lib/framework7/js/framework7.min.js"></script>
		<!-- Path to your app js-->
		<script type="text/javascript" src="../../static/js/my-app.js"></script>
		
		<script src='../../static/js/jquery.min.js'></script>
		
	</body>
</html>