<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>Registro</title>
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
	<link rel="stylesheet" href="../static/css/fuentespropias.css">
    <link rel="stylesheet" href="../static/css/modificacionlina.css">
	<link rel="stylesheet" href="../static/css/botones.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>      

    <!--LOGIN SCREEN-->
	<div class="view view-main">
        <div  class="login-screen modal-in">
            <div class="view">
              <div class="page">
                <div id="loginContenedor" class="page-content login-screen-content">
                  <div id="navbar" class="navbar">
					<div id="navbarInner" class="navbar-inner">
						<div class="login-screen-title">
							<img src="../static/imagenes/logo.png" style="height: 60px; position: relative; max-width:100px; margin-top: 15px;"/>
						</div>
					</div>
				  </div>
				  <div class="page-content">
				  {% block content %}
                  <form id="registroform" style="position: relative; top: -50px;" method="post">
				    {{ form.hidden_tag() }}
                    <div class="list">
                      <ul>
                        <li class="item-content item-input">
                          <div class="item-inner">    
                            <div style="color:white; font-weight:bold; font-size: 15px; margin: 5px" class="item-title item-label"></div>
                            <div class="item-input-wrap">
							  {{ form.name(class_='item-input-wrap', onfocus="ClickNombre()", onclick="ClickNombre()", autocomplete='name', style="background-color: white; font-family: ubuntu; padding-left:5px; border-radius: 5px; border: 1px solid transparent; border-top: none;  border-bottom: 1px solid #DDD;", type="text", placeholder="Nombre", minlength="1", maxlength="50") }}
								<span class="input-clear-button"></span>
							</div>
									<span id="errornombre" style="color: red; font-weight:bold; font-family: ubuntu;"></span>
									<script>
										function ClickNombre() {
											document.getElementById("errornombre").innerHTML = "";
										}
									</script>
                          </div>
						  
                        </li>
                        <li class="item-content item-input">
                          <div class="item-inner">
                            
                            <div style="color:white; font-weight:bold; font-size: 15px; margin: 5px" class="item-title item-label"></div>
                            <div class="item-input-wrap">
							  {{ form.username(class_='item-input-wrap', autocomplete="username", onfocus="ClickUsuario()", onclick="ClickUsuario()", style="background-color: white; font-family: ubuntu; padding-left:5px; border-radius: 5px; border: 1px solid transparent; border-top: none;  border-bottom: 1px solid #DDD;", type="text", minlength="4", maxlength="20", placeholder="Usuario") }}
								<span class="input-clear-button"></span>
							</div>
								<span id="errorusuario" style="color: red; font-weight:bold; font-family: ubuntu;"></span>
								<script>
									function ClickUsuario() {
										document.getElementById("errorusuario").innerHTML = "";
									}
								</script>
						  </div>
                        </li>
                        <li class="item-content item-input">
                          <div class="item-inner">
                            <div style="color:white; font-weight:bold; font-size: 15px; margin: 5px" class="item-title item-label"></div>
                            <div class="item-input-wrap">
							  {{ form.password(class_='item-input-wrap', onfocus="ClickClave()", onclick="ClickClave()", autocomplete="new-password", style="background-color: white; font-family: ubuntu; padding-left:5px; border-radius: 5px; border: 1px solid transparent; border-top: none;  border-bottom: 1px solid #DDD;", type="password", minlength="4", maxlength="50", placeholder="Contraseña") }}
								<span class="input-clear-button"></span>
							</div>
								<span id="errorclave" style="color: red; font-weight:bold; font-family: ubuntu;"></span>
								<script>
									function ClickClave() {
										document.getElementById("errorclave").innerHTML = "";
									}
								</script>
						  </div>
                        </li>
						<li class="item-content item-input">
                          <div class="item-inner">
                            <div style="color:white; font-weight:bold; font-size: 15px; margin: 5px" class="item-title item-label"></div>
								<div class="item-input-wrap">
									{{ form.password2(class_='item-input-wrap', onfocus="ClickClaveConfirmacion()", onclick="ClickClaveConfirmacion()", autocomplete="new-password", style="background-color: white; font-family: ubuntu; padding-left:5px; border-radius: 5px; border: 1px solid transparent; border-top: none;  border-bottom: 1px solid #DDD;", type="password", minlength="4", maxlength="50", placeholder="Confirme Contraseña")  }}
									<span class="input-clear-button"></span>
								</div>
									<span id="errorclaveconfirmacion" style="color: red; font-weight:bold; font-family: ubuntu;"></span>
							<script>
								function ClickClaveConfirmacion() {
									document.getElementById("errorclaveconfirmacion").innerHTML = "";
								}
							</script>
						  </div>
                        </li>
                        <li class="item-content item-input">
                          <div class="item-inner">
                              <div style="color:white; font-weight:bold; font-size: 15px; margin: 5px" class="item-title item-label"></div>
                              <div class="item-input-wrap">
							      {{ form.email(class_='item-input-wrap', autocomplete='email', onfocus="ClickCorreo()", onclick="ClickCorreo()", style="background-color: white; font-family: ubuntu; padding-left:5px; border-radius: 5px; border: 1px solid transparent; border-top: none;  border-bottom: 1px solid #DDD;", type="email", placeholder="Correo Electrónico")  }}
								<span class="input-clear-button"></span>
							  </div>
								
									<span id="errorcorreo" style="color: red; font-weight:bold; font-family: ubuntu;"></span>
									<script>
										function ClickCorreo() {
											document.getElementById("errorcorreo").innerHTML = "";
										}
									</script>
                            </div>
                        </li>
                      </ul>
                    </div>
                   <div class="list">
                      <ul>
						<li>
							<center>
								{% for message in get_flashed_messages() %}
									<span style="color:red; font-weight:bold; font-family: ubuntu;">{{ message }}</span>
								{% endfor %}
							</center>
						</li>
                      </ul>
					</div>
					<div class="block-footer" style="margin-top: 5px;">
										<div class="btn-container">
										{% if users|length == 1 %}
											{{ form.submit(class_='btn', type="submit", value="REGISTRO", style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white; border-width: 0px;") }}
											<!--<a class="btn" type="submit" style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white;">REGISTRARSE</a>-->
										{% else %}
											{{ form.submit(class_='btn', type="submit", disabled="disabled", value="REGISTRO", style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white; border-width: 0px;") }}
										{% endif %}
										</div>
										<!--<a href="{{ url_for('registro')  }}" class="button external">REGISTRO</a>-->
									</div>
					{% if users|length == 1 %}
					<div class="block-footer">
						<div class="btn-container">
							<center>
								<a href="{{ url_for('acceso')  }}" class="btn external" style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white; background-color: green">ACCEDER</a>
							</center>
						</div>
                    </div>
					{% else %}
					<div class="block-footer">
						<div class="btn-container">
							<center>
								<a href="{{ url_for('login')  }}" class="btn external" style="width: 150px; height: 40px; line-height: 40px; font-family: signika-regular; font-size: 18px; color: white; background-color: green">INICIAR SESIÓN</a>
							</center>
						</div>
                    </div>
					{% endif %}
                  </form>
				  {% endblock %}
				  <script>
					$(document).ready(function()
					{
						$("#registroform").submit(function(event)
						{
							event.preventDefault();
							$.ajax({
								dataType: "text",
								type: "POST",
								url: "{{ url_for('RegistroAjaxProcess') }}",
								data: $('#registroform').serialize(), // serializes the form's elements.
								success: function (data){
									var resultados = JSON.parse(data);
									for(var resultado in resultados){
										if (resultados.hasOwnProperty(resultado)){
											var valor=resultados[resultado];
												if (resultado == "name"){
													document.getElementById("errornombre").innerHTML=valor;	
												}
												else if (resultado == "username"){
													document.getElementById("errorusuario").innerHTML=valor;
												}
												else if (resultado == "password"){
													document.getElementById("errorclave").innerHTML=valor;
												}
												else if (resultado == "email"){
													document.getElementById("errorcorreo").innerHTML=valor;
												}
												else if (resultado == "password2"){
													document.getElementById("errorclaveconfirmacion").innerHTML=valor;
												}
												
										}
									}
									if (data == '"si"'){
										window.location.href = "{{ url_for('RegistroAjaxDone') }}";
									}
									//console.log(data)
								}
							});
						});
					});	
				</script>
                </div>
              </div>
            </div>
          </div>
		 </div>
          <!--LOGIN SCREEN-->        
	</div>

    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../static/js/my-app.js"></script>
  </body>
</html>